Project: Proffind

Group Members:
1. Sai Shanthan Baltha - 2793395
2. Sai Sree Cheekatimarla - 2793560
3. Sathvik Reddy Kandhi - 2825505
4. Prabhath Chandra Ausipuram - 2825686

Requirements:
1. Users should be able to sign up and login using this application.
2. There should be 2 types of users - Students and Professors, which should be selected during sign up.
3. Professor should be able to view the appointment details.
4. Students can schedule an appointment with a particular professor at a given time.
5. If an appointment is made, an email will be sent to both student and professor with the details.
6. If a user forgets password, an email will be sent to the user's email account with the password details.
7. Database will be connected to the application and live validations will be done.


If time permits, additional requirements to be achieved:
1. Professor can either modify or delete the appointment.
2. Students should be able see the available time slots of the professor and schedule multiple appointments	.
3. Students can delete or modify their appointment.
4. An email should be sent to both student and professor when an appointment is scheduled/deleted/modified.
5. Get an apk file and show the demo in an actual android device.